/* font-family: 'Changa', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Bruno Ace SC', cursive; */

section.banner {
    background: black;
    background: linear-gradient(1deg, rgb(0 0 0 / 68%) 0%, rgb(53 35 124 / 78%) 63%100%),url(https://e1.pxfuel.com/desktop-wallpaper/352/709/desktop-wallpaper-night-aesthetic-laptop-city-aesthetic.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
.container-fluid {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 70%; */
    width: 90%;
    /* background: blueviolet; */
    border: 12px double blueviolet;
}
#clock{
    /* animation: fadeIn 5s;  */
    font-family: 'Orbitron', sans-serif;
    /* font-family: 'Changa', sans-serif; */
    color: #efefef;
    font-size: 9.5vw;
    font-weight: bold;
    display: none;
}
.anim_fadeIn{
    animation: fadeIn 5s; 
    color: #efefef;
    font-size: 7vw;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    /* opacity: 0; */
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.anim_fadeOut{
    animation: fadeOut 5s; 
    /* display: none; */
    color: #efefef;
    font-size: 7vw;
    text-align: center;
    font-family: 'Bruno Ace SC', cursive;
    
}
@keyframes fadeOut {
    0% { opacity: 1; }
    /* 50% { opacity: 1; } */
    100% { opacity: 0; }
}
  
  